<h1>Reactive FormDynamic Angular form From Json data</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div *ngFor="let field of formData">
    <ng-container *ngIf="field.type !== 'group'">
      <label>{{ field.label }}</label>
      <input
        *ngIf="
          field.type === 'text' ||
          field.type === 'date' ||
          field.type === 'time' ||
          field.type === 'number' ||
          field.type === 'file'
        "
        [type]="field.type"
        [formControlName]="field.key"
        [placeholder]="field.key"
      />
      <div
        class="error-message"
        *ngIf="form.get(field.key)?.dirty && form.get(field.key)?.invalid"
      >
        {{ getErrorMessage(field.key) }}
      </div>

      <ng-container *ngIf="field.type === 'radio'">
        <ng-container *ngFor="let option of field.options">
          <input
            type="radio"
            [name]="field.key"
            [formControlName]="field.key"
            [value]="option"
          />
          <label>{{ option }}</label>
        </ng-container>
      </ng-container>
      <select [formControlName]="field.key" *ngIf="field.type === 'select'">
        <option value="select" selected>Select</option>
        <option [value]="option" *ngFor="let option of field.options">
          {{ option }}
        </option>
      </select>

      <input
        *ngIf="field.type === 'checkbox'"
        type="checkbox"
        [formControlName]="field.key"
      />
    </ng-container>

    <ng-container *ngIf="field.type === 'group'">
      <h3>{{ field.title }}</h3>
      <button class="action-btn" type="button" (click)="addGroup(field)">
        Add {{ field.key }}
      </button>
      <div formArrayName="{{ field.key }}">
        <div
          *ngFor="let group of getFormArray(field.key).controls; let i = index"
          [formGroupName]="i"
        >
          <div *ngFor="let nestedField of field.nestedFields">
            <label>{{ field.label }}</label>
            <input
              *ngIf="
                nestedField.type === 'text' ||
                nestedField.type === 'date' ||
                nestedField.type === 'time' ||
                nestedField.type === 'number' ||
                nestedField.type === 'file'
              "
              [type]="nestedField.type"
              [formControlName]="nestedField.key"
              [placeholder]="nestedField.key"
            />

            <ng-container *ngIf="nestedField.type === 'radio'">
              <ng-container *ngFor="let option of field.options">
                <input
                  type="radio"
                  [name]="nestedField.key"
                  [formControlName]="nestedField.key"
                  [value]="option"
                />
                <label>{{ option }}</label>
              </ng-container>
            </ng-container>
            <select
              [formControlName]="nestedField.key"
              *ngIf="nestedField.type === 'select'"
            >
              <option
                [value]="option"
                *ngFor="let option of nestedField.options"
              >
                {{ option }}
              </option>
            </select>

            <input
              *ngIf="nestedField.type === 'checkbox'"
              type="checkbox"
              [formControlName]="nestedField.key"
            />
          </div>
          <button type="button" (click)="removeGroup(field.key, i)">
            Remove {{ field.key }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <button type="submit">Submit</button>
</form>

<a class="link" routerLink="/edit-form">Edit Form</a>

<!-- <form
  class="container-form"
  [formGroup]="dynamicForm"
  (ngSubmit)="onSubmit()"
  [ngStyle]="{ display: isDataLoading ? 'none' : 'block' }"
>
  <ng-container appComponentHost></ng-container>
  <div #dynamicButtonsContainer></div>
  <button type="submit">Submit</button>
</form> -->
