<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of formFields">
    <ng-container [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="'text'">
        <input [id]="field.key" [formControlName]="field.key" type="text" />
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        <input [id]="field.key" [formControlName]="field.key" type="number" />
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        <label>{{ field.label }}</label>
        <input [id]="field.key" [formControlName]="field.key" type="date" />
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'file'">
        <label>{{ field.label }}</label>
        <input [id]="field.key" [formControlName]="field.key" type="file" />
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'radio'">
        <label>{{ field.label }}</label>
        <div *ngFor="let option of field.options">
          <label>
            <input
              type="radio"
              [formControlName]="field.key"
              [value]="option"
            />
            {{ option }}
          </label>
        </div>
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'checkbox'">
        <label>{{ field.label }}</label>
        <input type="checkbox" [formControlName]="field.key" />
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'select'">
        <label>{{ field.label }}</label>
        <select [formControlName]="field.key">
          <option *ngFor="let option of field.options" [value]="option">
            {{ option }}
          </option>
        </select>
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'multi-checkbox'">
        <label>{{ field.label }}</label>
        <div *ngFor="let option of field.options; let i = index">
          <label>
            <input
              type="checkbox"
              [formControlName]="field.key + '[' + i + ']'"
            />
            {{ option }}
          </label>
        </div>
        <div *ngIf="isFieldInvalid(field.key)">
          <small class="error">This field is required.</small>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'group'">
        <div formArrayName="{{ field.key }}">
          <div
            *ngFor="let group of getFormArrayControls(field.key); let i = index"
            [formGroupName]="i"
          >
            <label>{{ field.label }} {{ i + 1 }}</label>
            <ng-container *ngFor="let nestedField of field.nestedFields">
              <label>{{ nestedField.label }}</label>
              <input
                [formControlName]="nestedField.key"
                [type]="nestedField.type"
              />
              <div *ngIf="isFieldInvalid(nestedField.key)">
                <small class="error">This field is required.</small>
              </div>
            </ng-container>
            <button
              type="button"
              (click)="removeGroupFromFormArray(field.key, i)"
            >
              Remove
            </button>
          </div>
          <button
            type="button"
            (click)="addGroupToFormArray(field.key, field.nestedFields)"
          >
            Add {{ field.label }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <button type="submit">Submit</button>
</form>
